[Desktop Entry]
Name=Facegame
Comment=Face and game
Exec=main -F -N -S 1/2 -D
Terminal=false
Type=Application
X-OD-NeedsJoystick=true
StartupNotify=true
Icon=icon
Categories=games;
